*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #eec0c0;
    background-image: url('image2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
    color: #d7d7d7;
}

.titulo{
    margin-bottom: -100px;
}


.opciones p{
    background: rgb(110, 26, 26);
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
}
.opciones p1{
    background: rgb(13, 235, 21);
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
}

p.p1{
    position: absolute;
    top: 400px;
    left: 500px;
    width: 100px;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 100px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}
p.p3{
    position: absolute;
    top: 400px;
    left: 200px;
    width: 100px;
}
p.p3:hover{
    background: gray;
    cursor: pointer;
}

#si{
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
}
#No{
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
}
.text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8); /* Cambia el color del texto para que sea visible en la imagen */
  text-align: center;
}
h1 {
    position: center;
    left: 20px;
}

